@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div class="profile-setup-modal__modal-header">
    <div class="modal-header__header-text">Модерация категорий</div>
    @*<div class="shared__header__close" onclick="kinkyApp.modal.hide()"></div>*@
</div>

@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/base/jquery-ui.css" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="jquery.scrolltable.js"></script>*@
<script src="~/Scripts/jquery.tablesorter.min.js"></script>
<script src="~/Content/jquery.tablescroll.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
	    $('#catTbl').scrolltable({
	    stripe: true,
	    oddClass: 'odd',
	    setWidths: true,
	    maxHeight: 900
	    });
	});
</script>

<table id="catTbl" class="shared__relative shared__padding-bottom-double" style="padding-left:20px; padding-right:20px;  height: 40px;table-layout:fixed;">
    @*<div class="shared__background-white shared__padding-top-big">*@
    @if (true)
    {
        <thead>
            <tr>
                <th style="width: 30px;">
                    ID
                </th>
                <th style="width: 100px;">
                    Название
                </th>
                <th style="width: 150px;">
                    Описание
                </th>
                <th style="width: 150px;">
                    Соответствующие категории
                </th>
                @*<th style="width: 120px;">
                    Видимость
                </th>
                <th style="width: 120px;">
                    Популярное
                </th>
                <th style="width: 70px;">
                    Язык
                </th>
                <th style="width: 70px;">
                    Новые
                </th>*@
                @*<th style="width: 150px;">
                </th>*@
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 80; i++)
            {
                string color = "#80aed9";
              
                <tr class="@(i%2==0 ? "shared__background-white": "")" @(color != null ? ("style=background-color:" + color) : "")>
                    <td>
                        11
                    </td>
                    <td>
                        Имя
                    </td>
                    <td style="overflow:hidden;white-space:nowrap;padding-left:10px;">
                        Описание
                    </td>
                    <td style="padding-left:10px;">
                        121131
                    </td>
                    @*<td>
                        Да 
                    </td>
                    <td>
                        Нет
                    </td>
                    <td>
                        Ru
                    </td>
                    <td>
                        Комментарий
                    </td>*@
                    <td>
                        @using (Ajax.BeginForm("EditCategories", "Admin", null, new AjaxOptions { UpdateTargetId = "body", LoadingElementId = "loadingElement", HttpMethod = "Post" }))
                        {
                            <button onclick="kinkyApp.modal.showTopByUrl('@Url.Action("EditCategory", "Admin", new { categoryId = 1 })'); return false;">
                                Edit
                            </button>
                            <button type="submit" id="deleteBnt" onclick="return confirm('Вы действительно хотите удалить категорию?');">
                                Delete
                            </button>
                            <input type='hidden' value="1" name='CategoryId' />
                            <input type='hidden' value="true" name='IsDel' />
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

<br /><br />